/* Calendario */
.calendar {
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  left: 100px;
}
.calendar-header {
  padding: 10px;
  text-align: left;
}
.day {
  height: 80px;
  display: flex;
  align-items: left;
  justify-content: left;
}
.day-empty {
  color: #adb5bd;
}
.day:hover {
  background-color: #e7f3ff;
  cursor: pointer;
}
.selected-day {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

.container_card_datos_cita {
  display: flex; /* Alinea el calendario y los botones horizontalmente */
  gap: 20px;
}

.notificacion-img {
  position: absolute;
  left: 400px;
}

.step {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.step.active {
  display: block;
  opacity: 1;
}


.step-completed {
  display: none;
}
#calendarDays {
  margin-bottom: -70px;
}
#currentMonth {
  color: #1d72d4;
}

.col.day {
  color: #1d72d4;
}

.btn.btn-primary {
  background-image: linear-gradient(to right, #0f3b6f, #1d72d4);
  box-shadow: 0 20px 30px -6px rgba(0, 26, 173, 0.5);
  border: none;
}

.card-body {
  background: linear-gradient(to right, #0f3b6f, #1d72d4);
  border: none;
}

/* Personalizar el borde del modal */
.modal-content.error-modal {
  border: 2px solid red; /* Borde rojo */
}

/* Personalizar el texto del modal */
.modal-content.error-modal .modal-body {
  color: red; /* Texto en rojo */
}
