body {
  padding-top: 50px;
  /* Ajustar según la altura de tu header */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#formulario-inicio {
  padding: 20px;
  max-width: 400px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);

  /* Máximo ancho del formulario */
}

.img-fluid {
  max-width: 70%;
  /* Ajuste de la imagen */
  height: auto;
}
.custom-opacity {
  background-color: rgba(123, 123, 123, 0.1);
}

.main_agendamiento {
  padding-top: 60px;
}
.container_letras_main {
  padding-top: 60px;
}
#header_registro {
  background: white;
}
#body_registro {
  padding-top: 0px;
}
header {
  background: linear-gradient(to right, #0f3b6f, #1d72d4);
}

.footer-1 {
  background: linear-gradient(to right, #0f3b6f, #1d72d4);
}
.footer-2 {
  background: linear-gradient(to right, #051f3d, #0c52a3);
}

.modal-dialog-right {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  max-width: 30%; /* Puedes ajustar este valor según tus necesidades */
  width: 100%;
  margin: 0;
}

.modal-full-height {
  height: 100vh;
}

.modal-content {
  height: 100%;
  border-radius: 0;
}
.btn_link {
  transition: all 0.3s ease-in-out;
  font-family: "Dosis", sans-serif;
  text-decoration: none;
}

.btn_link {
  padding: 12px;
  width: 150px;
  height: 60px;
  border-radius: 50px;
  background-image: linear-gradient(to right, #0f3b6f, #1d72d4);
  box-shadow: 0 20px 30px -6px rgba(0, 26, 173, 0.5);
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 24px;
  color: white;
}

.btn_link:hover {
  transform: translateY(3px);
  box-shadow: none;
}

.btn_link:active {
  opacity: 0.5;
}
#header_registro {
  background: linear-gradient(to right, #0f3b6f, #1d72d4);
  padding: 20px 0;
}

#header_registro .nav-link {
  color: white;
  transition: color 0.3s ease;
}

#header_registro .nav-link:hover {
  color: #ffd700; /* Cambiar a dorado en hover */
}

.redes-sociales {
  filter: brightness(0) invert(1); /* Para que los iconos de redes sociales sean visibles sobre el fondo oscuro */
}

#header_registro ul {
  align-items: center;
}
.main-registration {
  padding-top: 200px;
}
.main-donde-estamos {
  padding-top: 140px;
  margin-bottom: 50px;
}
.main-sobre-nosotros {
  padding-top: 100px;
}

/* .main-sobre-nosotros .container-img {
  margin-left: 350px;
} */
.title_sobre_nosotros {
  font-size: 2.5rem;
  font-weight: bold;
  color: #0f3b6f;
}
.profileModal {
  background: linear-gradient(to right, #0f3b6f, #1d72d4);
}
.editar_button:hover {
  font-size: 19px;
  border: 1px solid #f0f4f4;
}
.sin-triangulo {
  appearance: none; /* Quita el estilo predeterminado del botón */
  background: none; /* Elimina cualquier fondo que pueda incluir Bootstrap */
  border: none; /* Remueve bordes si existen */
  padding-right: 0; /* Ajusta el espaciado */
  color: inherit; /* Hereda el color del texto */
}

.sin-triangulo::after {
  display: none; /* Oculta el ícono de triángulo invertido */
}
.ul-second {
  margin-left: -200px;
}
.main-container-edit-user {
  margin-top: 180px;
  margin-bottom: 80px;
}


.editar-perfil-titulo {
  font-size: 2.5rem;
  font-weight: bold;
  color: #0f3b6f;
  margin-bottom: 20px;
}


[data-bs-theme="dark"] .editar-perfil-titulo {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 20px;
}


.link-login .link-olvidaste, .link-login .link-registrate,#formulario-inicio label{
  color: rgb(2, 40, 84);
  text-decoration: none;
  
}