// Create your own map

$primary: #0f3b6f;
$danger: #ff0000;
$tertiary: #5694dc;

$theme-colors: (
  "primary": $primary,
  "danger": $danger,
  "tertiary": $tertiary,
);

@import "../node_modules/bootstrap/scss/bootstrap";

body {
  padding-top: 70px;
  /* Ajustar según la altura de tu header */
}

#formulario-inicio {
  padding: 20px;
  max-width: 400px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);

  /* Máximo ancho del formulario */
}

.img-fluid {
  max-width: 70%;
  /* Ajuste de la imagen */
  height: auto;
}
.custom-opacity {
  background-color: rgba(
    123,
    123,
    123,
    0.1
  ); //fondo para el article de lo servicios
}
