<div class="d-flex align-items-center">
  <div class="upload-wrapper d-inline justify-content-around mt-2">
    <label class="upload-btn text-white border-2 rounded-3 p-2" for="fileexamensangre">
      <span class="fas fa-file-pdf text-center">
        Examen de sangre
      </span>
    </label>
    <input type="file" id="fileexamensangre" accept="application/pdf" onchange="mostrarNombreArchivo(this)">
    <button class="btn btn-link text-decoration-none" data-bs-toggle="popover" data-bs-title="Información adicional"
      data-bs-content="El examen de sangre permite evaluar el estado general de salud, detectar enfermedades y monitorear condiciones médicas existentes."
      type="button" title="Información adicional">
      <img src="/assets/icon/infocircle.svg" alt="informacion" width="25px" height="25px" />
    </button>
    <button class="btn btn-link text-decoration-none" type="button" title="Eliminar archivo">
      <img src="/assets/icon/trash.svg" alt="trash" width="25px" height="25px" />
    </button>
    <div class="file-name mt-3">Ningún archivo seleccionado</div>
  </div>
  <div class="upload-wrapper d-inline justify-content-around mt-2 ms-5">
    <label class="upload-btn text-white border-2 rounded-3 p-2" for="fileexamenorina">
      <span class="fas fa-file-pdf text-center">
        Examen de orina
      </span>
    </label>
    <input type="file" id="fileexamenorina" accept="application/pdf" onchange="mostrarNombreArchivo(this)">
    <button class="btn btn-link text-decoration-none" data-bs-toggle="popover" data-bs-title="Información adicional"
      data-bs-content="El examen de orina ayuda a detectar alteraciones renales, infecciones y otras condiciones de salud."
      type="button" title="Información adicional">
      <img src="/assets/icon/infocircle.svg" alt="informacion" width="25px" height="25px" />
    </button>
    <button class="btn btn-link text-decoration-none" type="button" title="Eliminar archivo">
      <img src="/assets/icon/trash.svg" alt="trash" width="25px" height="25px" />
    </button>
    <div class="file-name mt-3">Ningún archivo seleccionado</div>
  </div>
</div>
</div>